:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #17202a;
  background: #f4f7f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
